body
{
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

h1
{
    margin: 50px;
    font-size: 75px;
    color: rgb(0, 0, 50);
}

#pageHeader
{
    text-align: center;
}

#pageContent
{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;

}

#productenTable tr th
{
    background-color: rgb(0, 0, 50);
    color: white;
    /*border: 2px solid green;*/
    width: 20%;
    padding: 10px;
}

#prijsInclBtw, #prijsExclBtw, #productId
{
    text-align: right;
}

#detailLink
{
    text-align: center;
}

#productImage
{
    height: 225px;
    width: 25%;
    text-align: center;
    border-color: rgb(0, 0, 50);
    border-width: 2px;
    border-style: solid;
}

#productImage figure img
{
    height: 100%;
}

#productInfoTable
{
    width: 100%;
}

#productInfoTable section
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

#productValues
{
    position: relative;
    background-color: rgb(0, 0, 50);
    color: white;
}

#pageFooter
{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
}

#productValues div
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}

#productBeschrijving
{
    padding-top: 30px;
}

.table{width:100%; height:200px; border-collapse:collapse;}
.table-wrap{max-height:300px; width:100%; overflow-y:auto; overflow-x:hidden;}
.table-dalam{height:400px; width:100%; border-collapse:collapse;}
.td-nya{border-left:1px solid white; border-right:1px solid grey; border-bottom:1px solid grey; padding: 10px; width:20%;}