#beheerBtn, #naamSubmit, #afmeldBtn
{
    font-size: 20px;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid lawngreen;
    background-color: rgb(0,0,50);
    color: white;
    text-align: center;
    position: absolute;
    right: 30px;
}
#beheerBtn:hover, #naamSubmit:hover{cursor: pointer;}
#beheerBtn, #afmeldBtn{top:20px;}
#naamSubmit{bottom: 10px;}

#voegProductToeBtn
{
    color: white;
    background-color: rgb(0,0,50);
    padding: 10px;
    border: 2px solid lawngreen;
}

#beheerPopup
{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}

#beheerPopup form
{
    height: 400px;
    margin-top: -200px;
    width: 600px;
    margin-left: -300px;
    background-color: white;
    border: 3px solid rgb(0,0,50);
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
}

#beheerPopup form p
{
    margin: 60px;
    margin-left: 90px;
    font-size: 23px;
}

#beheerPopup form #naamInput
{
    font-size: 25px;
    padding: 10px;
}

body
{
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

h1
{
    margin: 50px;
    color: rgb(0, 0, 50);
    margin-left: 0px;
    font-size: 50px;
}

a
{
    text-decoration: none;
}

#pageHeader
{
    text-align: center;
}

#pageContent
{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;

}

#productenTable tr th
{
    background-color: rgb(0, 0, 50);
    color: white;
    /*border: 2px solid green;*/
    width: 20%;
    padding: 10px;
}

#prijsInclBtw, #prijsExclBtw, #productId
{
    text-align: right;
}

#detailLink, .adminOperatie
{
    text-align: center;
}

#productImage
{
    height: 225px;
    width: 25%;
    text-align: center;
    border-color: rgb(0, 0, 50);
    border-width: 2px;
    border-style: solid;
}

#productImage figure img
{
    height: 100%;
}

#productInfoTable
{
    width: 100%;
    margin-bottom: 100px;
}

#productInfoTable section
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

#productValues
{
    position: relative;
    background-color: rgb(0, 0, 50);
    color: white;
}

#pageFooter
{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
}

#productValues div
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}

#productBeschrijving
{
    padding-top: 30px;
}

.table{width:100%; height:200px; border-collapse:collapse;}
.table-wrap{max-height:300px; width:100%; overflow-y:auto; overflow-x:hidden;}
.table-dalam{height:400px; width:100%; border-collapse:collapse;}
.td-nya{border-left:1px solid white; border-right:1px solid grey; border-bottom:1px solid grey; padding: 10px; width:20%;}